.cover__link {
  margin: 92px 0 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "link";
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  .cover__link {
    margin: 92px 0 0;
    width: 100%;
  }
}
