.lead__title {
  font-style: normal;
  text-align: center;
  margin: 0px auto;
}

@media screen and (min-width: 768px) {
  .lead__title {
    max-width: 720px;
    font-weight: 900;
    font-size: 96px;
    line-height: 104%;
  }
}

@media screen and (max-width: 767px) {
  .lead__title {
    min-width: 288px;
    box-sizing: border-box;
    font-weight: 900;
    font-size: 40px;
    line-height: 110%;
  }
}