.footer__item {
  margin-right: 18px;
}

.footer__item:last-of-type {
  margin-right: 0px;
}

.footer__item:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .footer__item {
    margin-right: 0px;
    margin-bottom: 32px;
  }
}