.place__url-heading {
  color: #aaaaaa;
  margin: 0px 0px 12px;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
  .place__url-heading {
    width: 456px;
  }
}